/* RESET */
/*********/
* {
  margin: 0;
}

@font-face {
  font-family: "GoogleSans";
  src: url("fonts/ProductSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "GoogleSans";
  src: url("fonts/ProductSans-Bold.woff") format("woff");
  font-weight: 600;
}

html {
  color: black;
  font-family: 'GoogleSans';
  font-size: 25px;
  letter-spacing: 0.4px;
}

/* VARIABLES */
/*************/
:root {  
  --orange: #EF8216;
  --red: #FE2727;
}

/* TYPOGRAPHY */
/*************/
.bold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

h1.title {
  font-size: 4rem;
} /* 100px */
h1.subtitle {
  font-size: 2rem;
} /* 50px */

h2.title {
  font-size: 1.8rem;
} /* 45px */

p.large {
  font-size: 1.2rem;
} /* 30px */
a.medium, p.medium {
  font-size: 1rem;
} /* 25px */
p.small {
  font-size: .8rem;
} /* 20px */
p.extra-small {
  font-size: .6rem;
} /* 15px */

h1.orange,
p.orange,
span.orange {
  color: var(--orange);
}

h1.white,
p.white,
span.white {
  color: white;
}

h1.light-grey,
p.light-grey {
  color: var(--light-grey);
}

/* COMPONENTS */
/**************/

/* 1. Navbar */
.nav {
  margin: 0rem 5.6rem 0 2.56rem;
  padding: 1.48rem;
}

.nav__top {
  display: none;
}

.nav__toggle {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.nav__toggle img {
  width: 40px;
}

.nav__bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav__logo span {
  color: var(--orange);
}

.nav__menu-container {
  align-items: center;
  display: flex;
}

.nav__menu-container .login-button {
  font-family: "GoogleSans";
  font-size: 1rem;
  height: 2.24rem;
  margin-right: 1.76rem;
  width: 5.52rem;
}

.nav__menu {
  display: flex;
  list-style: none;
  margin-right: 2.56rem;
}

.nav__menu__item {}

.nav__menu__item:not(:last-child) {
  margin-right: 2rem;
}

.nav__menu__link:link {
  color: white;
  text-decoration: none;
  padding: 1;
}

.nav__menu__link:hover,
.nav__menu__link.active {
  color: var(--orange);
  text-decoration: none;
  border-bottom: 2px solid var(--orange);
}

/* 2. Button */
.btn {
  border: none;
  border-radius: 0;
  background-color: var(--orange);
  color: white;
  cursor: pointer;
}

.btn.upppercase {
  text-transform: uppercase;
}

.btn.outline {
  background-color: transparent;
}

.btn.outline.white {
  border: 1px solid white;
  color: white;
}

.btn.outline.white:hover {
  background-color: white;
  color: var(--orange);
}

/* 3. Basic Bike */

.basic-bike {
  border: 1px solid #EFEFEF;
  height: 23.92rem;
  width: 15.92rem;
}

.basic-bike .basic-bike__image-container {
  height: 15.92rem;
  position: relative;
  width: 100%;
}

.basic-bike .basic-bike__offer.red {
  background-color: var(--red);
}

.basic-bike .basic-bike__offer.orange {
  background-color: var(--orange);
}

.basic-bike .basic-bike__offer {
  align-items: center;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 3.52rem;
  justify-content: center;  
  position: absolute;
  right: .68rem;
  top: .68rem;
  width: 3.52rem;
  z-index: 999;
}

.basic-bike .basic-bike__image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.basic-bike .basic-bike__info {
  padding: .76rem .56rem .56rem .8rem;
}

.basic-bike .basic-bike__name {
  margin-bottom: .2rem;
}

.basic-bike .basic-bike__score {
  margin-bottom: .28rem;
}

.basic-bike .basic-bike__description {
  margin-bottom: .56rem;
}

.basic-bike .basic-bike__buy {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.basic-bike .basic-bike__buy-button {
  height: 1.92rem;
  width: 6.12rem;
  font-size: 1rem;
}

/* 3. Container */
.container {
  margin: 7.3%;
}


/* SECTIONS */
/**************/

.header {
  background-image: url("images/header-background.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}

.header__content {
  left: 11.12rem;
  position: absolute;
  top: 13.24rem;
  width: 25.6rem;
}

.header__content__text {
  margin-bottom: 3.48rem;
}

.header__content__text h1.subtitle {
  margin-bottom: 1rem;
}

.header__content__buttons  {
  display: flex;
  justify-content: space-between;
}

.header__content__buttons .btn {
  width: 12.16rem;
  height: 3rem;
  font-size: 1rem;
}

.showcase__basic-bikes {
  display: grid;    
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 1rem;
}

/* MEDIA QUERIES */
/*****************/

@media (max-width: 1800px) {
  html {
    font-size: 18px;
  }

  .showcase__basic-bikes {   
    grid-template-columns: repeat(3, 1fr);   
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 17px;
  }

  .showcase__basic-bikes {   
    grid-template-columns: repeat(3, 1fr);   
  }
}

@media (max-width: 992px) {
  html {
    font-size: 16px;
  }

  /* COMPONENTS */
  /**************/

  /* 1. Navbar */
  .nav__top {
    display: block;
  }

  .nav__toggle[active] .nav__menu-container {
    display: none;
  }

  .nav__bottom {
    flex-direction: column;
    left: 50%;
    position: absolute;
    top: 2.40rem;
    transform: translateX(-50%);
  }

  nav .nav__logo {
    margin-bottom: 2rem;
    display: flex;
  }

  nav .nav__logo h2.title.white {
    display: inline-block !important;
  }

  .nav__menu-container {
    display: none;
  }

  .nav[open] .nav__menu-container {
    display: block;
    flex-direction: column;
  }

  .nav__menu-container .login-button {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .nav__menu {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .nav__menu__item:not(:last-child),
  .nav__menu__item:last-child {
    margin-right: 0;
    text-align: center;
    margin-bottom: 2rem;
  }

  .showcase__basic-bikes {   
    grid-template-columns: repeat(2, 1fr);   
  }


  /* SECTIONS */
  /**************/

  .nav[open] + .header__content {
    top: 40rem;    
  }
}

@media (max-width: 768px) {
  .header__content {
    left: 50%;      
    top: 13.24rem;
    transform: translateX(-50%);
    width: 25.6rem;
  }

  .showcase__basic-bikes {   
    grid-template-columns: repeat(2, 1fr);   
  }
}

@media (max-width: 678px) {
  html {
    font-size: 13px;
  }

  .showcase__basic-bikes {   
    grid-template-columns: repeat(1, 1fr);   
  }
}

/* .header__left-arrow,
.header__right-arrow {
  background-color: var(--orange);
  height: 8.72rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 8.72rem;
}

.header__left-arrow {
  clip-path: polygon(50% 0%, 50% 100%, 100% 50%);
  left: 0;
  margin-left: -4.36rem;
}
.header__right-arrow {
  clip-path: polygon(50% 0%, 50% 100%, 0% 50%);
  margin-right: -4.36rem;
  right: 0;
} */


